

      <div class="row mt-5">
        <div class="col-md-6">
          <h3  for="Name" class="col-md-3">Name : </h3> {{request.Name}}
        </div>
        <div class="col-md-6">
          <h3  for="MachineType" class="col-md-3"> MachineType : </h3> {{request.MachineType}}
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <h3 for="Reference" class="col-md-3"> Reference : </h3> {{request.Reference}}         
        </div>
        <div class="col-md-6">
          <h3 for="BranchLatinName" class="col-md-3"> Branch Name : </h3> {{request.BranchLatinName}}
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <h3 for="SystemSerialNo" class="col-md-3"> System Serial No :</h3> {{request.SystemSerialNo}}
        </div>
        <div class="col-md-6">
          <h3  for="WarehouseLatinName" class="col-md-3">Ware House:</h3> {{request.WarehouseLatinName}}
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <h3  for="OrderTypeLatinName" class="col-md-3"> Order Type :</h3> {{request.OrderTypeLatinName}}
        </div>
        <div class="col-md-6">
          <h3 for="DeviceLatinName" class="col-md-3"> Device Name: </h3> {{request.DeviceLatinName}}
        </div>
      </div>



