<mat-tab-group [(selectedIndex)]="selectedIndex">
  <mat-tab label="Basic Info">
    <form class="form-horizontal" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

      <div class="row mt-5">
        <div class="col-md-6">
          <label class="control-label col-md-3" for="Code"> Code :</label>
          <div class="col-md-10">
            <input type="text" required class="form-control" name="Code" [(ngModel)]="request.Code"
              #CodeInput="ngModel">
            <div *ngIf="CodeInput.errors &&(CodeInput.touched || CodeInput.dirty)">
              <span style="color: #f00;" [hidden]="!CodeInput.errors.required">this filed is required</span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="control-label col-md-2" for="ArabicName">ArabicName:</label>
          <div class="col-md-10">
            <input type="text" required class="form-control" placeholder="Enter ArabicName"
              [(ngModel)]="request.ArabicName" name="ArabicName" #ArabicName="ngModel">
            <div *ngIf="ArabicName.errors &&(ArabicName.touched || ArabicName.dirty)">
              <span style="color: #f00;" [hidden]="!ArabicName.errors.required">this filed is required</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6">
          <label class="control-label col-md-2" for="LatinName">LatinName:</label>
          <div class="col-md-10">
            <input type="text" class="form-control" required placeholder="Enter LatinName"
              [(ngModel)]="request.LatinName" name="LatinName" #LatinName="ngModel">
            <div *ngIf="LatinName.errors &&(LatinName.touched || LatinName.dirty)">
              <span style="color: #f00;" [hidden]="!LatinName.errors.required">this filed is required</span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <label class="control-label col-md-2" for="Type"> Type:</label>
          <div class="col-md-10">
            <select class="form-control" [(ngModel)]="request.Type" #Type="ngModel" name="Type" required>
              <option *ngFor="let type of  types" value={{type.Id}}>{{type.LatinName}}</option>
            </select>
            <div *ngIf="Type.errors &&(Type.touched || Type.dirty)">
              <span style="color: #f00;" [hidden]="!Type.errors.required">this filed is required</span>
            </div>
          </div>
        </div>

      </div>

      <div class="row mt-5">

        <div class="col-md-6">
          <label class="control-label col-md-2" for="Level"> Level:</label>
          <div class="col-md-10">
            <select class="form-control" [(ngModel)]="request.Level" #Level="ngModel" name="Level" required
              (change)="fillDropDownDetails()">
              <option *ngFor="let level of  levels" value={{level.Id}}>{{level.LatinName}}</option>
            </select>
            <div *ngIf="Level.errors &&(Level.touched || Level.dirty)">
              <span style="color: #f00;" [hidden]="!Level.errors.required">this filed is required</span>
            </div>
          </div>


        </div>

        <div class="col-md-6">
          <label class="control-label col-md-2">{{levelsName}}:</label>
          <div class="col-md-10">
            <ng-multiselect-dropdown [settings]="dropdownSettings" [data]="DropDownData" [(ngModel)]="selectedItems"
              #details="ngModel" required [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown>
            <div *ngIf="details.errors &&(details.touched )">
              <span style="color: #f00;" [hidden]="!details.errors.required">this filed is required</span>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-1">
          <button class="btn btn-primary mt-5" [disabled]="f.invalid">Save</button>
        </div>
        <div class="col-md-5"></div>
      </div>

    </form>
  </mat-tab>


  <mat-tab label="Prouduct" *ngIf="request.Type==2">
    <app-product [pricePolicyId]="request.Uid"></app-product>
  </mat-tab>
  <mat-tab label="Inventory" *ngIf="request.Type==1">
    <app-inventory [pricePolicyId]="request.Uid"></app-inventory>
  </mat-tab>
</mat-tab-group>
