<div class="container mt-5">
  <h2>Update Table</h2>

  <form class="form-horizontal" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

    <div class="row mt-5">
      <div class="col-md-6">
        <label class="control-label col-md-3" for="Code"> Name :</label>
        <div class="col-md-10">
          <input
           type="text"
           required
           class="form-control"
           name="Name"
           placeholder="Enter Name"
           [(ngModel)]="request.Name"
           #NameInput="ngModel"
          >
          <div *ngIf="NameInput.errors &&(NameInput.touched || NameInput.dirty)">
            <span style="color: #f00;" [hidden]="!NameInput.errors.required">this filed is required</span>
          </div>
        </div>
      </div>
      <div class="col-md-6"  style="padding-top: 43px;">
        <label class="control-label col-md-3" for="ShowInPOS"> Show In POS :</label>
          <input
           type="checkbox"
           required
           name="ShowInPOS"
           placeholder="Enter ShowInPOS"
           [(ngModel)]="request.ShowInPos"
           #ShowInPOSInput="ngModel"
          >
      </div>
    </div>
    <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-1">
        <button  class="btn btn-primary mt-5" [disabled]="f.invalid">Save</button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </form>
</div>
