ul {
    list-style: none;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
        li {
            color: #989898;
            font-size: 15px;
            text-align: right;
                &::after {
                    content: '/';
                    padding: 0 5px;
                }

                &:last-child {
                    color: #1a90b0;
                    &::after {
                        content: '';
                    }
                }
        }
}